{# Подключение к базовому шаблону вывода #}
{% extends '::base.html.twig' %}
{# Вывод продуктов #}
{% block body %}
  <h1>Продукты</h1>
  {{ include(
      'AliasTestBundle:MainPage:productsShow.html.twig',
      { 'products': products }
  ) }}
{% endblock %}