<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}
        
          <link href="{{ asset('bundles/aliastest/css/main.css') }}" rel="stylesheet" />
        {% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
        {% block javascripts %}{% endblock %}
    </head>
    <body>
      <div class="wrapper">
        
        <div class="container">
          {% block body %}{% endblock %}
        </div>
        
      </div>
    </body>
</html>
